.comp-style {
  width: 100%;
}
.comp-style h1 {
  text-align: center;
}
.container {
  height: 300px;
  width: 50%;
  background-color: lightcoral;
  margin-left: 25%;
  border-radius: 10px;
}
.card {
  color: azure;
  font-size: 20px;
  margin: 15px;
}
.dp {
}
